font_size 20
status_bar_font_size 20

super_fast_search 1
case_sensitive_search 0

custom_background_color {{background}}
custom_text_color {{foreground}}

page_separator_color {{color7}}
page_separator_width 10
search_highlight_color {{color10}}
status_bar_color {{background}}
status_bar_text_color {{foreground}}
ui_text_color {{foreground}}
ui_selected_text_color {{color11}}
ui_background_color {{background}}
ui_selected_background_color {{background}}
background_color {{background}}
visual_mark_color 0.40000000 0.36078431 0.32941176 0.5
text_highlight_color {{color12}}
link_highlight_color {{color13}}
synctex_highlight_color {{color14}}
ui_font Iosevka 

startup_commands toggle_custom_color;toggle_horizontal_scroll_lock;
