font_size 20
status_bar_font_size 20

super_fast_search 1
case_sensitive_search 0

custom_background_color #362C31
custom_text_color #FAE2EF

page_separator_color #F0CDE0
page_separator_width 10
search_highlight_color #544791
status_bar_color #362C31
status_bar_text_color #FAE2EF
ui_text_color #FAE2EF
ui_selected_text_color #9C5288
ui_background_color #362C31
ui_selected_background_color #362C31
background_color #362C31
visual_mark_color 0.40000000 0.36078431 0.32941176 0.5
text_highlight_color #BB6AD2
link_highlight_color #E36A98
synctex_highlight_color #F1ABD2
ui_font Iosevka 

startup_commands toggle_custom_color;toggle_horizontal_scroll_lock;
